.callback {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0;

	@media (max-width: 900px) {
		grid-template-columns: 1fr;
	}

	&__img {
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__form {
		padding: rem(18, 70) rem(18, 268);
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: rem(18, 13);

		@media (max-width: 1920px) {
			@include adaptive-hero(padding-left, 268, 15);
			@include adaptive-hero(padding-right, 268, 15);
			@include adaptive-hero(padding-top, 70, 60);
			@include adaptive-hero(padding-bottom, 70, 60);
			@include adaptive-hero(gap, 13, 10);
		}

		@media (max-width: 900px) {
			border: none;
			padding-top: 0;
		}
	}

	&__title {
		color: #403434;
		font-family: TeX Gyre Heros Cn;
		font-size: rem(18, 64);
		font-style: normal;
		font-weight: 700;
		line-height: 100%;
		width: rem(18, 500);
		margin-bottom: rem(18, 50);

		@media (max-width: 1920px) {
			@include adaptive-hero(width, 500, 330);
			@include adaptive-hero(font-size, 64, 41);

			@include adaptive-hero(margin-bottom, 50, 3);
		}

		@media (max-width: 900px) {
			width: 100%;
		}
	}

	&__label {
		width: 100%;
	}

	&__input {
		width: 100%;
		padding: rem(18, 8) 0;

		color: #000;
		font-family: TeX Gyre Heros;
		font-size: rem(18, 50);
		font-weight: 700;
		line-height: normal;
		text-align: center;
		border: 1px solid #000;
		outline: none;

		@media (max-width: 1920px) {
			padding: 8px 0;
			@include adaptive-hero(font-size, 50, 24);
		}

		&::placeholder {
			color: #d9d9d9;
			font-family: TeX Gyre Heros;
			font-size: rem(18, 50);
			font-weight: 700;
			line-height: normal;

			@media (max-width: 1920px) {
				@include adaptive-hero(font-size, 50, 24);
			}
		}
	}

	&__action {
		width: 100%;
		outline: none;
		border: none;
		padding: rem(18, 63) 0;
		color: #fff;
		font-family: TeX Gyre Heros Cn;
		font-size: rem(18, 64);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		background-color: #f45200;
		overflow: hidden;
		cursor: pointer;
		position: relative;

		@media (max-width: 1920px) {
			@include adaptive-hero(padding-top, 63, 60);
			@include adaptive-hero(padding-bottom, 63, 60);
			@include adaptive-hero(font-size, 64, 50);
		}

		& span {
			position: relative;
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			transition: all 0.4s ease;
			transform: translateY(110%);
			background-color: #403434;
		}

		&:hover {
			&::after {
				transform: translateY(0);
			}
		}
	}
}
