.footer {
	background-color: #403434;
	padding: rem(18, 37) rem(18, 60) rem(18, 51);
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 1920px) {
		@include adaptive-hero(padding-top, 37, 17);
		@include adaptive-hero(padding-bottom, 51, 29);
		@include adaptive-hero(padding-left, 60, 15);
		@include adaptive-hero(padding-right, 60, 15);
	}

	@media (max-width: 900px) {
		align-items: flex-start;
		& .header__list {
			display: flex;
			gap: 4;
			flex-direction: column;

			&_item {
				@include adaptive-hero(font-size, 20, 12);
			}
		}
	}

	&__left {
		display: flex;
		align-items: center;
		gap: rem(18, 138);

		@media (max-width: 1920px) {
			@include adaptive-hero(gap, 138, -50);
		}

		@media (max-width: 900px) {
			@include adaptive-hero(gap, 138, 50);
			align-items: flex-start;
		}
	}

	&__logo {
		& img {
			width: rem(18, 103);
			height: rem(18, 107);

			@media (max-width: 1920px) {
				@include adaptive-hero(width, 103, 52);
				@include adaptive-hero(height, 107, 54);
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: rem(18, 108);

		@media (max-width: 1920px) {
			@include adaptive-hero(gap, 108, -50);
		}
		@media (max-width: 900px) {
			@include adaptive-hero(gap, 108, 28);
			flex-direction: column-reverse;
		}

		& > a {
			color: #fff;
			font-family: TeX Gyre Heros;
			font-size: rem(18, 20);
			font-weight: 700;
			line-height: normal;

			@media (max-width: 1920px) {
				@include adaptive-hero(font-size, 20, 10);
			}
			@media (max-width: 900px) {
				display: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		& a {
			color: #fff;
			font-family: TeX Gyre Heros;
			font-size: rem(18, 20);
			font-weight: 700;
			line-height: normal;

			@media (max-width: 1920px) {
				@include adaptive-hero(font-size, 20, 10);
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: rem(18, 25);

		@media (max-width: 1920px) {
			@include adaptive-hero(gap, 25, 0);
		}

		@media (max-width: 900px) {
			@include adaptive-hero(gap, 25, 15);
		}

		& a {
			transition: all 0.3s ease;
			&:hover {
				opacity: 0.8;
			}
			& svg {
				width: rem(18, 58);
				height: rem(18, 58);

				fill: $white;

				@media (max-width: 1920px) {
					@include adaptive-hero(width, 58, 25);
					@include adaptive-hero(height, 58, 25);
				}
			}

			& img {
				width: rem(18, 58);
				height: rem(18, 58);

				@media (max-width: 1920px) {
					@include adaptive-hero(width, 58, 25);
					@include adaptive-hero(height, 58, 25);
				}
			}
		}
	}
}
