.fixed-header {
	& .header {
		top: -100%;
		align-items: center;
		background-color: #403434;

		&__logo {
			width: rem(18, 60);
			height: rem(18, 60);
			margin-top: 0;

			@media (max-width: 1920px) {
				width: 60px;
				height: 60px;
			}

			@media (max-width: 900px) {
				margin: 10px 0;
				width: 54px;
				height: 52px;
			}
		}

		&__nav {
			margin-top: 0;
		}

		&__action {
			margin-top: 0;
			margin: rem(18, 10) 0;

			@media (max-width: 900px) {
				margin: 0;
			}
		}
	}
	& .header.show {
		top: 0;
	}
}
.header {
	position: fixed;
	z-index: $ui-index-5;
	top: 0;
	left: 0;
	right: 0;
	transition: top 1s ease-in-out;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 rem(18, 60);

	@media (max-width: 1920px) {
		@include adaptive-hero(padding-left, 60, 15);
		@include adaptive-hero(padding-right, 60, 15);
	}

	@media (max-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
	}

	&__logo {
		display: block;
		width: rem(18, 405);
		height: rem(18, 419);

		margin-top: rem(18, 30);

		@media (max-width: 1920px) {
			@include adaptive-hero(width, 405, 52);
			@include adaptive-hero(height, 419, 54);
			@include adaptive-hero(margin-top, 30, 15);
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__languages {
		color: $white;
		font-family: TeX Gyre Heros;
		font-size: rem(18, 20);
		font-weight: 700;
		line-height: normal;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(18, 5);
		cursor: pointer;
		position: relative;
		height: fit-content;

		@media (max-width: 1920px) {
			@include adaptive-hero(font-size, 20, 17);
			@include adaptive-hero(gap, 5, 2.5);
		}

		& svg {
			width: rem(18, 17);
			height: rem(18, 12);
			fill: $white;

			@media (max-width: 1920px) {
				@include adaptive-hero(width, 17, 15);
				@include adaptive-hero(height, 12, 10);
			}
		}

		&:hover {
			& svg {
				opacity: 0;
			}
		}

		&-dropdown {
			position: absolute;
			top: 110%;
			left: 50%;
			right: 50%;
			transform: translate(-50%, 0);
			width: rem(18, 80);
			height: rem(18, 80);
			background-color: #000;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 2;

			transition: all 0.4s ease;
			opacity: 0;
			visibility: hidden;

			@media (max-width: 1920px) {
				@include adaptive-hero(width, 80, 50);
				@include adaptive-hero(height, 80, 50);
			}

			&_lang {
				display: block;
				position: relative;
				z-index: 5;
			}

			&::after {
				content: '';
				width: rem(18, 14);
				height: rem(18, 14);
				position: absolute;
				background-color: #000;
				top: rem(18, -7);
				transform: rotate(45deg);
				z-index: 1;

				@media (max-width: 1920px) {
					top: -7;
					@include adaptive-hero(width, 14, 9);
					@include adaptive-hero(height, 14, 9);
				}
			}

			& span {
				user-select: none;
			}
		}
		&:hover .header__languages-dropdown {
			visibility: visible;
			opacity: 1;
			top: 95%;
		}
	}

	&__burger {
		@include adaptive-hero(width, 30, 24);
		@include adaptive-hero(height, 20, 15);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 7px;

		& span {
			width: 100%;
			height: 2px;
			background-color: $white;
		}

		@media (min-width: 900px) {
			display: none;
		}
	}

	&__nav {
		display: flex;
		align-content: center;
		margin-top: rem(18, 30);
		justify-self: center;
		gap: rem(18, 77);

		@media (max-width: 1920px) {
			@include adaptive-hero(margin-top, 30, 15);
			@include adaptive-hero(gap, 77, 18);
		}
		@media (max-width: 900px) {
			justify-self: flex-end;
		}
	}

	&__list {
		display: flex;
		align-items: flex-start;
		gap: rem(18, 71);
		margin-top: rem(18, 5);

		@media (max-width: 1920px) {
			@include adaptive-hero(margin-top, 5, 0);
			@include adaptive-hero(gap, 71, 0);
		}

		@media (max-width: 900px) {
			display: none;
		}

		&_item {
			color: $white;
			font-family: TeX Gyre Heros;
			font-size: rem(18, 20);
			font-weight: 700;
			line-height: normal;
			transition: all 0.3s ease;

			@media (max-width: 1920px) {
				@include adaptive-hero(font-size, 20, 16);
			}
			&:hover {
				opacity: 0.8;
			}

			& a {
				white-space: nowrap;
			}
		}
	}

	&__action {
		margin-top: rem(18, 28);
		height: rem(18, 74);
		padding: 0 rem(18, 22);

		font-family: TeX Gyre Heros;
		font-size: rem(18, 24);
		font-weight: 400;
		line-height: normal;

		width: fit-content;
		justify-self: flex-end;

		position: relative;
		border: 1px solid $white;
		background: #f45200;
		overflow: hidden;

		cursor: pointer;

		transition: all 0.3s ease;

		@media (max-width: 1920px) {
			@include adaptive-hero(margin-top, 28, 15);
			@include adaptive-hero(height, 73, 63);
			padding: 0 22px;
			font-size: 24px;
		}

		@media (max-width: 900px) {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
		}

		& span {
			color: $white;
			transition: all 0.4s ease;
			position: relative;
			z-index: 1;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #403434;
			transform: translateY(110%);

			transition: all 0.4s ease;
		}

		&:hover {
			&::after {
				transform: translateY(0);
			}
		}
	}
}
