.jazz {
	max-height: rem(18, 1000);
	overflow: hidden;

	@media (max-width: 1920px) {
		max-height: 100%;
		overflow: visible;
	}

	@media (max-width: 900px) {
		max-height: 100%;
		overflow: visible;
	}

	&__container {
		display: grid;
		grid-template-columns: 43% 57%;
		grid-template-rows: 33% 67%;

		grid-template-areas:
			'head img'
			'bottom img';

		@media (max-width: 1919px) {
			grid-template-columns: 50% 50%;
		}

		@media (max-width: 900px) {
			grid-template-columns: 60% 40%;
			grid-template-rows: repeat(2, auto);
			grid-template-areas:
				'head img'
				'bottom bottom';
		}
	}

	&__head {
		grid-area: head;
		background-color: #f45200;

		& .swiper {
			height: 100%;
		}

		& .swiper-slide {
			display: flex;
			align-items: center;
		}

		@media (max-width: 900px) {
			@include adaptive-hero(font-size, 300, 135);
		}

		& h2 {
			color: $white;
			font-family: TeX Gyre Heros Cn;
			font-size: rem(18, 93);
			font-weight: 700;
			line-height: 100%;
			text-transform: uppercase;
			margin-left: rem(18, 60);
			margin-right: rem(18, 60);
			width: 100%;

			@media (max-width: 1920px) {
				@include adaptive-hero(font-size, 93, 22);
				@include adaptive-hero(margin-left, 60, 18);
				@include adaptive-hero(margin-right, 60, 18);
				margin-bottom: 0;
			}
		}
	}

	&__img {
		grid-area: img;

		@media (max-width: 900px) {
			@include adaptive-hero(font-size, 300, 135);
		}

		& .swiper-slide {
			@media (max-width: 900px) {
				@include adaptive-hero(font-size, 300, 135);
			}

			& img {
				width: 100%;
				height: rem(18, 1000);
				// height: 100%;
				object-fit: cover;
				object-position: top;

				@media (max-width: 900px) {
					height: rem(18, 500);
				}
			}
		}
	}

	&__bottom {
		grid-area: bottom;
		margin: rem(18, 130) 0 0 0;

		@media (max-width: 1920px) {
			@include adaptive-hero(margin-top, 100, -50);
		}
		@media (max-width: 900px) {
			@include adaptive-hero(margin-top, 100, 37);
		}

		& .swiper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: rem(18, 100);
			height: 100%;
			@media (max-width: 1920px) {
				@include adaptive-hero(gap, 100, -50);
			}

			@media (max-width: 900px) {
				gap: 30px;
			}
		}

		& .swiper-slide {
			display: flex;
			align-items: center;
			padding: 0 rem(18, 80) 0 rem(18, 60);

			@media (max-width: 900px) {
				@include adaptive-hero(padding-left, 60, 15);
				@include adaptive-hero(padding-right, 60, 15);
			}

			& p {
				color: #898989;
				font-family: TeX Gyre Heros;
				font-size: rem(18, 20);
				font-weight: 700;
				line-height: 140%;

				@media (max-width: 1920px) {
					@include adaptive-hero(font-size, 20, 10);
				}
			}
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin: 0 rem(18, 80) rem(18, 70) rem(18, 60);

		@media (max-width: 1920px) {
			@include adaptive-hero(margin-left, 80, 15);
			@include adaptive-hero(margin-right, 60, 15);
		}

		@media (max-width: 900px) {
			@include adaptive-hero(margin-left, 60, 15);

			@include adaptive-hero(margin-right, 60, 15);
			max-width: 360px;
			align-self: center;
			width: 100%;
		}
		& .swiper-button-prev,
		& .swiper-button-next {
			transform: rotate(0);

			width: rem(18, 60);
			height: rem(18, 60);

			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 50%;

			@media (max-width: 1920px) {
				@include adaptive-hero(width, 60, 30);

				@include adaptive-hero(height, 60, 30);
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}

			& svg {
				width: rem(18, 40);
				height: rem(18, 40);

				@media (max-width: 1920px) {
					@include adaptive-hero(width, 40, 20);

					@include adaptive-hero(height, 40, 20);
				}
			}
		}
	}

	&__more {
		padding: rem(18, 18) rem(18, 36);

		border: 2px solid #000;
		overflow: hidden;
		position: relative;

		@media (max-width: 1920px) {
			border-width: 1px;
			@include adaptive-hero(padding-top, 18, 9);
			@include adaptive-hero(padding-bottom, 18, 9);
			@include adaptive-hero(padding-right, 36, 13);
			@include adaptive-hero(padding-left, 36, 13);
		}

		& span {
			color: #403434;
			font-family: TeX Gyre Heros Cn;
			font-size: rem(18, 22);
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			transition: all 0.3s ease;

			@media (max-width: 1920px) {
				@include adaptive-hero(font-size, 22, 16);
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			transform: translateY(110%);
			transition: all 0.3s ease;
			z-index: -1;
		}

		&:hover {
			& span {
				color: $white;
			}

			&::after {
				transform: translateY(0);
			}
		}
	}
}
