.timetable {
  margin: 0 rem(18, 60) rem(18, 90);

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(18, 40);

    @media (max-width: 900px) {
      margin-top: 21px;

      margin-bottom: 20px;
    }

    @media (max-width: 350px) {
      flex-direction: column;
      gap: 20px;
    }

    &-right {
      display: flex;
      @media (max-width: 900px) {
        flex-direction: column;
        gap: 5px;
      }
      & > p {
        padding-top: rem(18, 10);
        margin-right: rem(18, 12.5);

        color: #f45200;
        font-family: TeX Gyre Heros Cn;
        font-size: rem(18, 24);
        font-weight: 700;
        line-height: 85%;

        @media (max-width: 900px) {
          font-size: 14px;
        }
      }
    }

    &-left {
      display: flex;
      @media (max-width: 900px) {
        flex-direction: column;
        gap: 5px;
      }
      & > p {
        padding-top: rem(18, 10);
        margin-right: rem(18, 12.5);

        color: #f45200;
        font-family: TeX Gyre Heros Cn;
        font-size: rem(18, 24);
        font-weight: 700;
        line-height: 85%;
        @media (max-width: 900px) {
          font-size: 14px;
        }
      }
    }

    &-list {
      border-right: 1px solid $black;
      border-left: 1px solid $black;
      border-bottom: 1px solid $black;
      height: fit-content;
      transition: opacity 0.3s ease;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      max-height: 0;
      max-width: 0;

      &.active {
        opacity: 1;
        visibility: visible;
        overflow: visible;
        max-height: 100%;
        max-width: 100%;
      }
      @media (max-width: 900px) {
        border-top: 1px solid $black;
      }

      & .timetable__head-dropdown_open-left {
        height: rem(18, 27);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.05) 0%,
            rgba(0, 0, 0, 0.05) 100%
          ),
          #fff;

        &:hover {
          background-color: #d9d9d9;
        }

        @media (max-width: 900px) {
          height: 26px;
        }

        & svg {
          height: rem(18, 11);
          width: rem(18, 22);

          @media (max-width: 900px) {
            height: 9px;
            width: 16px;
          }
        }
      }

      & .timetable__head-dropdown_open-right {
        height: rem(18, 27);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.05) 0%,
            rgba(0, 0, 0, 0.05) 100%
          ),
          #fff;

        &:hover {
          background-color: #d9d9d9;
        }

        &.active {
          & svg {
            transform: rotate(180deg);
          }
        }

        @media (max-width: 900px) {
          height: 26px;
        }

        & svg {
          height: rem(18, 11);
          width: rem(18, 22);

          @media (max-width: 900px) {
            height: 9px;
            width: 16px;
          }
        }
      }
    }

    &-country {
      border-right: 1px solid $black;
      border-left: 1px solid $black;
      border-bottom: 1px solid $black;
      height: fit-content;

      @media (max-width: 900px) {
        border-top: 1px solid $black;
      }

      & .timetable__head-dropdown_open-left {
        height: rem(18, 27);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.05) 0%,
            rgba(0, 0, 0, 0.05) 100%
          ),
          #fff;

        &:hover {
          background-color: #d9d9d9;
        }
        @media (max-width: 900px) {
          height: 26px;
        }

        & svg {
          height: rem(18, 11);
          width: rem(18, 22);

          @media (max-width: 900px) {
            height: 9px;
            width: 16px;
          }
        }
      }

      & .timetable__head-dropdown_open-right {
        height: rem(18, 27);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.05) 0%,
            rgba(0, 0, 0, 0.05) 100%
          ),
          #fff;

        &:hover {
          background-color: #d9d9d9;
        }

        &.active {
          & svg {
            transform: rotate(180deg);
          }
        }

        @media (max-width: 900px) {
          height: 26px;
        }

        & svg {
          height: rem(18, 11);
          width: rem(18, 22);

          @media (max-width: 900px) {
            height: 9px;
            width: 16px;
          }
        }
      }
    }

    &-dropdown {
      &.one {
        display: grid;
        $col: rem(18, 135);
        grid-template-columns: repeat(2, $col);
        align-items: center;

        max-height: rem(18, 49);
        overflow: hidden;

        &.active {
          max-height: 100%;
        }

        @media (max-width: 900px) {
          grid-template-columns: repeat(1, 100px);
          max-height: 28px;
        }

        @media (max-width: 768px) {
          max-height: 56px;
        }

        @media (max-width: 350px) {
          grid-template-columns: 1fr;
        }

        & .timetable__head-dropdown_button {
          background-color: $white;
          border-bottom: 1px solid $black;
          width: 100%;
          text-align: center;
          color: #898989;
          text-align: center;
          font-family: TeX Gyre Heros Cn;
          font-size: rem(18, 20);
          font-weight: 700;
          line-height: normal;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: #d9d9d9;
            color: #403434;
          }
          &:nth-child(odd) {
            @media (min-width: 900px) {
              border-right: 1px solid $black;
            }
          }

          &:first-child {
          }

          &.active {
            background-color: #d9d9d9;
            color: #403434;
          }

          @media (max-width: 900px) {
            font-size: 14px;
            white-space: nowrap;
          }
        }
      }

      &.two {
        display: flex;
        align-items: center;
        max-height: rem(18, 49);
        overflow: hidden;
        width: 100%;
        @media (max-width: 900px) {
          max-height: 56px;
          max-width: 300px;
          flex-wrap: wrap;
        }

        @media (max-width: 768px) {
        }
        @media (max-width: 450px) {
          max-width: 200px;
          max-height: 56px;
        }

        @media (max-width: 350px) {
          max-width: 100%;
          align-items: center;
        }

        &.active {
          max-height: 100%;
        }
        & .timetable__head-dropdown_button {
          background-color: $white;
          border-bottom: 1px solid $black;
          border-right: 1px solid $black;
          width: rem(18, 135);
          text-align: center;
          color: #898989;
          text-align: center;
          font-family: TeX Gyre Heros Cn;
          font-size: rem(18, 20);
          font-weight: 700;
          line-height: normal;
          cursor: pointer;
          transition: all 0.3s ease;

          &:last-child {
            border-right: none;
          }

          &:nth-child(3n) {
            @media (max-width: 768px) {
              border-right: none;
            }

            @media (max-width: 450px) {
              border-right: 1px solid $black;
            }
            @media (max-width: 350px) {
              border-right: none;
            }
          }

          &:nth-child(2n) {
            @media (max-width: 450px) {
              border-right: none;
            }
          }

          @media (max-width: 900px) {
            font-size: 14px;
            white-space: nowrap;
            width: 100px;
          }

          @media (max-width: 350px) {
            width: 100%;
            border-right: none;
          }

          // @media (max-width: 350px) {
          //   border-right: none;
          // }

          // &:nth-child(9n) {
          //   @media (min-width: 901px) {
          //     border-right: none;
          //   }
          // }

          // &:nth-child(6n) {
          //   @media (max-width: 900px) {
          //     border-right: none;
          //   }
          // }
          // &:nth-child(2n) {
          //   @media (max-width: 768px) {
          //     border-right: none;
          //   }
          // }

          &:hover {
            background-color: #d9d9d9;
            color: #403434;
          }

          &.active {
            background-color: #d9d9d9;
            color: #403434;
          }
        }
      }

      &_button {
        padding: rem(18, 10) 0;

        @media (max-width: 900px) {
          padding: 4px 0;
        }
      }
    }
  }

  &__table {
    display: none;

    &.active {
      display: table;
    }

    @media (max-width: 768px) {
      border: 1px solid #c1c1c1;
    }

    & td {
      border-bottom: 1px solid #c1c1c1;
      border-right: 1px solid #c1c1c1;
      height: rem(18, 66);
      color: #403434;
      font-family: TeX Gyre Heros Cn;
      font-size: rem(18, 36);
      font-weight: 700;
      line-height: 100%;

      @media (max-width: 768px) {
        font-size: 12px;
        border-bottom: none;
        height: auto;
        padding-top: 22px;

        padding-left: 6px;
      }

      &:last-child {
        @media (max-width: 768px) {
          border-right: none;
        }
      }

      &:first-child {
        @media (max-width: 768px) {
          padding-right: 5px;
          padding-left: 4px;
        }
      }

      & span {
        color: #403434;
        font-family: TeX Gyre Heros Cn;
        font-size: rem(18, 28);
        font-weight: 700;
        line-height: 85%;
        text-transform: uppercase;

        @media (max-width: 768px) {
          font-size: 10px;
        }
        &:last-child {
          color: #898989;
          font-family: TeX Gyre Heros Cn;
          font-size: rem(18, 20);
          font-weight: 700;
          line-height: 85%;
          text-transform: uppercase;
          @media (max-width: 768px) {
            font-size: 7px;
          }
        }
      }

      & > p {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: rem(18, 4);
      }
    }

    & tr {
      &:last-child {
        & td {
          @media (max-width: 768px) {
            padding-bottom: 22px;
          }
        }
      }
      & td {
        width: rem(18, 330);
        vertical-align: middle;
      }
      &:first-child {
        & td {
          border-top: 1px solid #c1c1c1;
          @media (max-width: 768px) {
            border: none;
            border-bottom: 1px solid #c1c1c1;
            border-right: 1px solid #c1c1c1;
            padding: 0;
            height: 37px;
          }

          &:first-child {
            @media (max-width: 768px) {
              border-bottom: 1px solid #c1c1c1;
            }
          }

          &:last-child {
            @media (max-width: 768px) {
              border-right: none;
            }
          }
        }
      }
      & td {
        &:first-child {
          border-left: 1px solid #c1c1c1;

          width: rem(18, 151);

          @media (max-width: 768px) {
            border: none;
            border-right: 1px solid #c1c1c1;
            &:first-child {
            }
          }
        }
      }
    }
  }
}

.tablet {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.3s ease;

  display: flex;

  &.active {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}
