.videos {
	margin: rem(18, 180) 0;
	padding: 0 rem(18, 120);

	@media (max-width: 1920px) {
		@include adaptive-hero(margin-top, 180, 80);
		@include adaptive-hero(margin-bottom, 120, 60);

		@include adaptive-hero(padding-left, 120, 0);

		@include adaptive-hero(padding-right, 120, 0);
	}

	@media (max-width: 900px) {
		padding-left: 0;
		padding-right: 0;
		@include adaptive-hero(margin-bottom, 180, 80);
	}

	& .swiper-slide {
		width: 100%;
		height: rem(18, 900);
		position: relative;

		& iframe {
			width: 100%;
			height: 100%;
		}
	}

	& .swiper {
		overflow: visible;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__navigation {
		display: flex;
		align-items: center;
		margin-top: rem(18, 30);
		gap: rem(18, 30);

		@media (max-width: 900px) {
			margin-top: rem(18, 60);
			gap: rem(18, 60);
		}

		& .swiper-pagination {
			position: static;

			& .swiper-pagination-bullet {
				background-color: #c1c1c1;
				border-radius: 0;
				opacity: 1;
				width: rem(18, 8);
				height: rem(18, 8);
				margin: 0 rem(18, 4);
				flex-shrink: 0;

				@media (max-width: 900px) {
					width: rem(18, 20);
					height: rem(18, 20);
					margin: 0 rem(18, 12);
				}

				&.swiper-pagination-bullet-active {
					background-color: #403434;
					opacity: 1;
				}
			}
		}

		& .swiper-button-prev {
			transform: rotate(0deg);
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			width: rem(18, 50);
			height: rem(18, 50);
			display: flex;
			align-items: center;
			flex-shrink: 0;

			margin: 0;

			@media (max-width: 900px) {
				width: rem(18, 100);
				height: rem(18, 100);
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}

			& svg {
				width: rem(18, 30);
				height: rem(18, 30);

				@media (max-width: 900px) {
					width: rem(18, 60);
					height: rem(18, 60);
				}
			}
		}
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
