main(class=`main main-${page}`)
    section.error-page
        .container 
            p.error-page__title 404 <span>ошибка</span>
            p.error-page__subtitle Извините, <b>страница не найдена</b>
            p.error-page__text Вероятно, Вы указали несуществующий адрес, страница была удалена, перемещена или сейчас временно недоступна.
            a(href="index.html").error-page__btn.btn На главную 