section.faq
  .faq__item
    .faq__item-head
      h2 Сколько стоит одно занятие?
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 19" fill="none")
        path(d="M14.8417 18.0176L0.256238 0.754665L29.4272 0.754667L14.8417 18.0176Z" fill="#403434")
    p Леди Стайл — это не один определенный танцевальный стиль, скорее, это множество различных стилей, объединенных в одно направление - их танцуют преимущественно в ночных клубах, на модных вечеринках...
  .faq__item
    .faq__item-head
      h2 Сколько стоит одно занятие?
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 19" fill="none")
        path(d="M14.8417 18.0176L0.256238 0.754665L29.4272 0.754667L14.8417 18.0176Z" fill="#403434")
    p Леди Стайл — это не один определенный танцевальный стиль, скорее, это множество различных стилей, объединенных в одно направление - их танцуют преимущественно в ночных клубах, на модных вечеринках...