section.hero-second
  h1.hero-second__title 
    span TEACHERS
    span STYLES
  .hero-second__actions
    button(id="teachers").hero-second__tab teachers
    button(id="styles").hero-second__tab styles