section.hero-contacts
  div
    h1.hero-contacts__title КОНТАКТЫ
    p Яна Асара иена 13
    .hero-contacts__info
      a(href="tel:+371 20 397 080") +371 20 397 080
      a(href="mailto:bazadancelv@gmail.com") bazadancelv@gmail.com
  img(src="./img/jazz-img.png")