section.hero-timetable
  h1.hero-timetable__title Timetable
  a(href="#timetable") see timetable
  //- .hero-timetable__actions
  //-   button(id="teachers").hero-timetable__tab teachers
  //-   button(id="styles").hero-timetable__tab styles