section.hero
  .hero__container
    video(class="hero__video" autoplay loop playsinline muted preload="auto")
      source(src="./img/video/video-top-v2.webm" type="video/webm")
      source(src="./img/video/video-top-v2.mp4" type="video/mp4")
    div
      h1 Спасибо за заявку! 
        span ;)
      p Мы получили ваш запрос, перезвоним через 15 минут 