section.hero-timetable
  h1.hero-timetable__title TIMETABLE
  //- .hero-timetable__actions
  //-   button(id="teachers").hero-timetable__tab teachers
  //-   button(id="styles").hero-timetable__tab styles