section.jazz
  .jazz__container
    .jazz__head
      .swiper-container.swiper
        .swiper-wrapper
          .swiper-slide
            h2 STREtching
          .swiper-slide
            h2 STREtching
          .swiper-slide
            h2 STREtching
          .swiper-slide
            h2 STREtching
    .jazz__img
      .swiper-container.swiper
        .swiper-wrapper
          .swiper-slide
            img(src="./img/jazz-img.png" class="desktop")
            img(src="./img/jazz-img.png" class="mobile")
          .swiper-slide
            img(src="./img/jazz-img.png" class="desktop")
            img(src="./img/jazz-img.png" class="mobile")
          .swiper-slide
            img(src="./img/jazz-img.png" class="desktop")
            img(src="./img/jazz-img.png" class="mobile")
          .swiper-slide
            img(src="./img/jazz-img.png" class="desktop")
            img(src="./img/jazz-img.png" class="mobile")
    .jazz__bottom
      .swiper-container.swiper
        .swiper-wrapper
          .swiper-slide
            p The modern world of dance consists of many styles, but only Jazz Funk will give you an idea of the real drive, sexuality, confidence, energy and incendiary dance. This is one of the most popular trends, because jazz-funk attracts views, whether you want it or not. The combination of different styles - hip-hop, jazz, waxing and others - allows a dancer to stand out on any dance floor, feel confident and amaze others. Jazz funk has absorbed the best movements of all directions, while seasoning the dance with audacity, sexuality, plasticity and crazy drive. Small but clear movements allow you to experiment and improvise: the dance will never look the same.
          .swiper-slide
            p The modern world of dance consists of many styles, but only Jazz Funk will give you an idea of the real drive, sexuality, confidence, energy and incendiary dance. This is one of the most popular trends, because jazz-funk attracts views, whether you want it or not. The combination of different styles - hip-hop, jazz, waxing and others - allows a dancer to stand out on any dance floor, feel confident and amaze others. Jazz funk has absorbed the best movements of all directions, while seasoning the dance with audacity, sexuality, plasticity and crazy drive. Small but clear movements allow you to experiment and improvise: the dance will never look the same.
          .swiper-slide
            p The modern world of dance consists of many styles, but only Jazz Funk will give you an idea of the real drive, sexuality, confidence, energy and incendiary dance. This is one of the most popular trends, because jazz-funk attracts views, whether you want it or not. The combination of different styles - hip-hop, jazz, waxing and others - allows a dancer to stand out on any dance floor, feel confident and amaze others. Jazz funk has absorbed the best movements of all directions, while seasoning the dance with audacity, sexuality, plasticity and crazy drive. Small but clear movements allow you to experiment and improvise: the dance will never look the same.
          .swiper-slide
            p The modern world of dance consists of many styles, but only Jazz Funk will give you an idea of the real drive, sexuality, confidence, energy and incendiary dance. This is one of the most popular trends, because jazz-funk attracts views, whether you want it or not. The combination of different styles - hip-hop, jazz, waxing and others - allows a dancer to stand out on any dance floor, feel confident and amaze others. Jazz funk has absorbed the best movements of all directions, while seasoning the dance with audacity, sexuality, plasticity and crazy drive. Small but clear movements allow you to experiment and improvise: the dance will never look the same.
        .jazz__navigation
          .swiper-button-prev
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 104" fill="none")
              path(d="M2.05025 47.0463C-0.683417 49.78 -0.683417 54.2122 2.05025 56.9458L46.598 101.494C49.3316 104.227 53.7638 104.227 56.4975 101.494C59.2311 98.7599 59.2311 94.3277 56.4975 91.5941L16.8995 51.9961L56.4975 12.3981C59.2311 9.66444 59.2311 5.23229 56.4975 2.49862C53.7638 -0.23505 49.3316 -0.23505 46.598 2.49862L2.05025 47.0463ZM11 44.9961H7V58.9961H11V44.9961Z" fill="#F45200")
          a.jazz__more
            span MORE ABOUT
          .swiper-button-next
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 104" fill="none")
              path(d="M56.9497 56.9458C59.6834 54.2122 59.6834 49.78 56.9497 47.0463L12.402 2.49862C9.66835 -0.235047 5.23619 -0.235047 2.50252 2.49862C-0.231148 5.23229 -0.231148 9.66445 2.50252 12.3981L42.1005 51.9961L2.50253 91.5941C-0.23114 94.3277 -0.23114 98.7599 2.50253 101.494C5.2362 104.227 9.66835 104.227 12.402 101.494L56.9497 56.9458ZM44 58.9961L52 58.9961L52 44.9961L44 44.9961L44 58.9961Z" fill="#F45200")