section.navs
  ul.navs__list
    li.navs__item
      a(href="#" class="navs__link")
        span NEWS
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16" fill="none")
          path(d="M9.17516 7.75443L0.543701 15.0472L0.543702 0.461685L9.17516 7.75443Z")
    li.navs__item
      a(href="#" class="navs__link")
        span FAQ
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16" fill="none")
          path(d="M9.17516 7.75443L0.543701 15.0472L0.543702 0.461685L9.17516 7.75443Z")
    li.navs__item
      a(href="#" class="navs__link")
        span CONTACTS
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16" fill="none")
          path(d="M9.17516 7.75443L0.543701 15.0472L0.543702 0.461685L9.17516 7.75443Z")