section.schedule
  ul.schedule__list
    li.schedule__block
      h3.schedule__block_item tue
      h3.schedule__block_item 19:00 / BEG
      .schedule__block_name LIZA YASINSKAYA
    li.schedule__block
      h3.schedule__block_item tue
      h3.schedule__block_item 19:00 / BEG
      .schedule__block_name LIZA YASINSKAYA
  ul.schedule__list
    li.schedule__block
      h3.schedule__block_item tue
      h3.schedule__block_item 19:00 / BEG
      .schedule__block_name LIZA YASINSKAYA
    li.schedule__block
      h3.schedule__block_item tue
      h3.schedule__block_item 19:00 / BEG
      .schedule__block_name LIZA YASINSKAYA

