section.styles-column
  .styles-column__card
    .styles-column__card_left
      h2.styles-column__card-title stretching
      p.styles-column__card-description Stretching classes include complex exercises on the development of elasticity of muscles, ligaments and tendons of the whole body. The higher the elasticity, the greater the amplitude of the movements, and this gives additional opportunities to perform more complex dance movements...
      a(href="#" class="styles-column__card-link")
        span more about
    .styles-column__card_right
      img(src="./img/jazz-img.png")
  .styles-column__card
    .styles-column__card_left
      h2.styles-column__card-title stretching
      p.styles-column__card-description Stretching classes include complex exercises on the development of elasticity of muscles, ligaments and tendons of the whole body. The higher the elasticity, the greater the amplitude of the movements, and this gives additional opportunities to perform more complex dance movements...
      a(href="#" class="styles-column__card-link")
        span more about
    .styles-column__card_right
      img(src="./img/jazz-img.png")
  .styles-column__card
    .styles-column__card_left
      h2.styles-column__card-title stretching
      p.styles-column__card-description Stretching classes include complex exercises on the development of elasticity of muscles, ligaments and tendons of the whole body. The higher the elasticity, the greater the amplitude of the movements, and this gives additional opportunities to perform more complex dance movements...
      a(href="#" class="styles-column__card-link")
        span more about
    .styles-column__card_right
      img(src="./img/jazz-img.png")
  .styles-column__card
    .styles-column__card_left
      h2.styles-column__card-title stretching
      p.styles-column__card-description Stretching classes include complex exercises on the development of elasticity of muscles, ligaments and tendons of the whole body. The higher the elasticity, the greater the amplitude of the movements, and this gives additional opportunities to perform more complex dance movements...
      a(href="#" class="styles-column__card-link")
        span more about
    .styles-column__card_right
      img(src="./img/jazz-img.png")
  .styles-column__card
    .styles-column__card_left
      h2.styles-column__card-title stretching
      p.styles-column__card-description Stretching classes include complex exercises on the development of elasticity of muscles, ligaments and tendons of the whole body. The higher the elasticity, the greater the amplitude of the movements, and this gives additional opportunities to perform more complex dance movements...
      a(href="#" class="styles-column__card-link")
        span more about
    .styles-column__card_right
      img(src="./img/jazz-img.png")