section.teachers
  .swiper
    .swiper-wrapper
      div(class="swiper-slide trank" data-nameprimary="Hizha" data-namesecondary="Хижа" data-skillprimary="GOD" data-skillsecondary="БОГ")
        img(src="./img/slide1.png")
      div(class="swiper-slide trank" data-name="VANYA LEE2" data-skill="LOW HEELS")
        img(src="./img/slide2.png")
      div(class="swiper-slide trank" data-name="VANYA LEE3" data-skill="LOW HEELS")
        img(src="./img/slide3.png")
      div(class="swiper-slide trank" data-name="VANYA LEE4" data-skill="LOW HEELS")
        img(src="./img/slide4.png")
  .teachers__info
    h2.teachers__title teachers
    .teachers__info-teacher
      h3.teachers__info-title KATE MEZBUHOVSKA
      p.teachers__info-description dancehall