section.teachers-column
  .teachers-column__card
    .teachers-column__left
      h2.teachers-column__title KATE MEZBUHOVSKA
      p.teachers-column__description Vanya Lee is a dancer, teacher, MC and active in the dance industry. One of the most famous hip-hop dancers in St. Petersburg and Russia, coach of world champions (according to IDO)! Dancing for 16 years, teaching for over 14.
      .teachers-column__style
        span Hip-Hop
        span Hip-Hop
      a(href="#" class="teachers-column__link")
        span more about
    .teachers-column__right
      img(src="./img/teachers-style.png")
  .teachers-column__card
    .teachers-column__left
      h2.teachers-column__title KATE MEZBUHOVSKA
      p.teachers-column__description Vanya Lee is a dancer, teacher, MC and active in the dance industry. One of the most famous hip-hop dancers in St. Petersburg and Russia, coach of world champions (according to IDO)! Dancing for 16 years, teaching for over 14.
      .teachers-column__style
        span Hip-Hop
        span Hip-Hop
      a(href="#" class="teachers-column__link")
        span more about
    .teachers-column__right
      img(src="./img/teachers-style.png")
  .teachers-column__card
    .teachers-column__left
      h2.teachers-column__title KATE MEZBUHOVSKA
      p.teachers-column__description Vanya Lee is a dancer, teacher, MC and active in the dance industry. One of the most famous hip-hop dancers in St. Petersburg and Russia, coach of world champions (according to IDO)! Dancing for 16 years, teaching for over 14.
      .teachers-column__style
        span Hip-Hop
      a(href="#" class="teachers-column__link")
        span more about
    .teachers-column__right
      img(src="./img/teachers-style.png")
  .teachers-column__card
    .teachers-column__left
      h2.teachers-column__title KATE MEZBUHOVSKA
      p.teachers-column__description Vanya Lee is a dancer, teacher, MC and active in the dance industry. One of the most famous hip-hop dancers in St. Petersburg and Russia, coach of world champions (according to IDO)! Dancing for 16 years, teaching for over 14.
      .teachers-column__style
        span Hip-Hop
      a(href="#" class="teachers-column__link")
        span more about
    .teachers-column__right
      img(src="./img/teachers-style.png")
  .teachers-column__card
    .teachers-column__left
      h2.teachers-column__title KATE MEZBUHOVSKA
      p.teachers-column__description Vanya Lee is a dancer, teacher, MC and active in the dance industry. One of the most famous hip-hop dancers in St. Petersburg and Russia, coach of world champions (according to IDO)! Dancing for 16 years, teaching for over 14.
      .teachers-column__style
        span Hip-Hop
      a(href="#" class="teachers-column__link")
        span more about
    .teachers-column__right
      img(src="./img/teachers-style.png")
  .teachers-column__card
    .teachers-column__left
      h2.teachers-column__title KATE MEZBUHOVSKA
      p.teachers-column__description Vanya Lee is a dancer, teacher, MC and active in the dance industry. One of the most famous hip-hop dancers in St. Petersburg and Russia, coach of world champions (according to IDO)! Dancing for 16 years, teaching for over 14.
      .teachers-column__style
        span Hip-Hop
      a(href="#" class="teachers-column__link")
        span more about
    .teachers-column__right
      img(src="./img/teachers-style.png")