section.teachers
  .swiper
    .swiper-wrapper
      div(class="swiper-slide trank" data-name="VANYA LEE1" data-skill="LOW HEELS1")
        img(src="./img/slide1.png")
      div(class="swiper-slide trank" data-name="VANYA LEE2" data-skill="LOW HEELS2")
        img(src="./img/slide2.png")
      div(class="swiper-slide trank" data-name="VANYA LEE3" data-skill="LOW HEELS3")
        img(src="./img/slide3.png")
      div(class="swiper-slide trank" data-name="VANYA LEE4" data-skill="LOW HEELS4")
        img(src="./img/slide4.png")
  .teachers__info
    h2.teachers__title teachers
    .teachers__info-teacher
      h3.teachers__info-title 
      p.teachers__info-description