section.videos
  .swiper
    .swiper-wrapper
      .swiper-slide
        div#player-1.player-video
          div(data-id="player-1" data-video="uMMDq46r8wM").to-play
            img(alt='Video')
            svg(viewBox="0 0 68 48" version="1.1" height="100%" width="100%")
              path(class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00")
              path(d="M 45,24 27,14 27,34" fill="#fff")
      .swiper-slide
        div#player-2.player-video
          div(data-id="player-2" data-video="f7P9xvzl3ow").to-play
            img(alt='Video')
            svg(viewBox="0 0 68 48" version="1.1" height="100%" width="100%")
              path(class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00")
              path(d="M 45,24 27,14 27,34" fill="#fff")
      .swiper-slide
        div#player-3.player-video
          div(data-id="player-3" data-video="uMMDq46r8wM").to-play
            img(alt='Video')
            svg(viewBox="0 0 68 48" version="1.1" height="100%" width="100%")
              path(class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00")
              path(d="M 45,24 27,14 27,34" fill="#fff")
      .swiper-slide
        div#player-4.player-video
          div(data-id="player-4" data-video="uMMDq46r8wM").to-play
            img(alt='Video')
            svg(viewBox="0 0 68 48" version="1.1" height="100%" width="100%")
              path(class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00")
              path(d="M 45,24 27,14 27,34" fill="#fff")
      .swiper-slide
        div#player-5.player-video
          div(data-id="player-5" data-video="uMMDq46r8wM").to-play
            img(alt='Video')
            svg(viewBox="0 0 68 48" version="1.1" height="100%" width="100%")
              path(class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00")
              path(d="M 45,24 27,14 27,34" fill="#fff")

    .videos__navigation
      .swiper-button-prev
        svg(xmlns="http://www.w3.org/2000/svg" width="34" height="60" viewBox="0 0 34 60" fill="none")
          path(d="M1.17157 27.1716C-0.390523 28.7337 -0.390523 31.2663 1.17157 32.8284L26.6274 58.2843C28.1895 59.8464 30.7222 59.8464 32.2843 58.2843C33.8464 56.7222 33.8464 54.1895 32.2843 52.6274L9.65685 30L32.2843 7.37259C33.8464 5.81049 33.8464 3.27783 32.2843 1.71573C30.7222 0.153637 28.1895 0.153637 26.6274 1.71573L1.17157 27.1716ZM6 26H4V34H6L6 26Z" fill="#F45200")
      .swiper-pagination
      .swiper-button-next
        svg(xmlns="http://www.w3.org/2000/svg" width="35" height="60" viewBox="0 0 35 60" fill="none")
          path(d="M32.8304 32.8284C34.3925 31.2663 34.3925 28.7337 32.8304 27.1716L7.37453 1.71574C5.81243 0.153645 3.27977 0.153646 1.71768 1.71574C0.155581 3.27784 0.155582 5.8105 1.71768 7.3726L24.3451 30L1.7177 52.6274C0.155599 54.1895 0.155599 56.7222 1.7177 58.2843C3.27979 59.8464 5.81245 59.8464 7.37455 58.2843L32.8304 32.8284ZM28.002 34L30.002 34L30.002 26L28.002 26L28.002 34Z" fill="#F45200")

  