extends html/static/head
block variables
    - var title = 'Цены и залы'
    - var page = 'price'
    - var subtitle = ''
    - var img = '/img/descriptors/index'
    - var lang = 'ru'
    - var classMain = 'main-price'
    - var classBody = 'body-price'

block content
  include html/static/header
  main(class=classMain)
    include html/components/hero-price
    section.price
      div(data-id="evening").price__container.active
        .price__item
          .price__item-top
            p Пробный урок
            h5 5€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p Одно занятие
            h5 13€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p 8 занятий (4 недели)
            h5 65€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p 16 занятий (4 недели в двух группах)
            h5 100€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p Пробный урок
            h5 5€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p Одно занятие
            h5 13€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        
      div(data-id="day").price__container
        .price__item
          .price__item-top
            p Пробный урок
            h5 5€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p Одно занятие
            h5 13€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p 8 занятий (4 недели)
            h5 65€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p 16 занятий (4 недели в двух группах)
            h5 100€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p Пробный урок
            h5 5€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p Одно занятие
            h5 13€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
        .price__item
          .price__item-top
            p 8 занятий (4 недели)
            h5 65€
          .price__item-bottom
            button
              span ЗАПИСАТЬСЯ
       
      div(data-id="halls").price__container.hall
        .hall__item.hall__item-1
          .swiper
            .swiper-wrapper
              .swiper-slide
                img(src="./img/hall1.png" alt="hall")
              .swiper-slide
                img(src="./img/hall2.png" alt="hall")
              .swiper-slide
                img(src="./img/hall1.png" alt="hall")
              .swiper-slide
                img(src="./img/hall2.png" alt="hall")

            .hall__navigation
              .swiper-button-prev.hall__prev
                svg(xmlns="http://www.w3.org/2000/svg" width="34" height="60" viewBox="0 0 34 60" fill="none")
                  path(d="M1.17157 27.1716C-0.390523 28.7337 -0.390523 31.2663 1.17157 32.8284L26.6274 58.2843C28.1895 59.8464 30.7222 59.8464 32.2843 58.2843C33.8464 56.7222 33.8464 54.1895 32.2843 52.6274L9.65685 30L32.2843 7.37259C33.8464 5.81049 33.8464 3.27783 32.2843 1.71573C30.7222 0.153637 28.1895 0.153637 26.6274 1.71573L1.17157 27.1716ZM6 26H4V34H6L6 26Z" fill="#F45200")
              .swiper-pagination
              .swiper-button-next.hall__next
                svg(xmlns="http://www.w3.org/2000/svg" width="35" height="60" viewBox="0 0 35 60" fill="none")
                  path(d="M32.8304 32.8284C34.3925 31.2663 34.3925 28.7337 32.8304 27.1716L7.37453 1.71574C5.81243 0.153645 3.27977 0.153646 1.71768 1.71574C0.155581 3.27784 0.155582 5.8105 1.71768 7.3726L24.3451 30L1.7177 52.6274C0.155599 54.1895 0.155599 56.7222 1.7177 58.2843C3.27979 59.8464 5.81245 59.8464 7.37455 58.2843L32.8304 32.8284ZM28.002 34L30.002 34L30.002 26L28.002 26L28.002 34Z" fill="#F45200")
          .hall__item-content
            .hall__item-head
              h2.hall__item-title ЗАЛ 1 - 177 m'2
              ul
                li Высокие потолки
                li Большие зеркала
                li Музыкальное оборудование
                li Коврики для фитнеса
                li Раздельные раздевалки и душ
                li Свободная парковка

                
            .hall__item-bottom
              p.hall__item-price 15€ / час
              button.hall__item-action
                span ЗАПИСАТЬСЯ
        .hall__item.hall__item-2
          .swiper
            .swiper-wrapper
              .swiper-slide
                img(src="./img/hall1.png" alt="hall")
              .swiper-slide
                img(src="./img/hall2.png" alt="hall")

            .hall__navigation
              .swiper-button-prev
                svg(xmlns="http://www.w3.org/2000/svg" width="34" height="60" viewBox="0 0 34 60" fill="none")
                  path(d="M1.17157 27.1716C-0.390523 28.7337 -0.390523 31.2663 1.17157 32.8284L26.6274 58.2843C28.1895 59.8464 30.7222 59.8464 32.2843 58.2843C33.8464 56.7222 33.8464 54.1895 32.2843 52.6274L9.65685 30L32.2843 7.37259C33.8464 5.81049 33.8464 3.27783 32.2843 1.71573C30.7222 0.153637 28.1895 0.153637 26.6274 1.71573L1.17157 27.1716ZM6 26H4V34H6L6 26Z" fill="#F45200")
              .swiper-pagination
              .swiper-button-next
                svg(xmlns="http://www.w3.org/2000/svg" width="35" height="60" viewBox="0 0 35 60" fill="none")
                  path(d="M32.8304 32.8284C34.3925 31.2663 34.3925 28.7337 32.8304 27.1716L7.37453 1.71574C5.81243 0.153645 3.27977 0.153646 1.71768 1.71574C0.155581 3.27784 0.155582 5.8105 1.71768 7.3726L24.3451 30L1.7177 52.6274C0.155599 54.1895 0.155599 56.7222 1.7177 58.2843C3.27979 59.8464 5.81245 59.8464 7.37455 58.2843L32.8304 32.8284ZM28.002 34L30.002 34L30.002 26L28.002 26L28.002 34Z" fill="#F45200")
          .hall__item-content
            .hall__item-head
              h2.hall__item-title ЗАЛ 1 - 177 m'2
              ul
                li Высокие потолки
                li Большие зеркала
                li Музыкальное оборудование
                li Коврики для фитнеса
                li Раздельные раздевалки и душ
                li Свободная парковка
            .hall__item-bottom
              p.hall__item-price 15€ / час
              button.hall__item-action
                span ЗАПИСАТЬСЯ
        .hall__item.hall__item-3
          .swiper
            .swiper-wrapper
              .swiper-slide
                img(src="./img/hall1.png" alt="hall")
              .swiper-slide
                img(src="./img/hall2.png" alt="hall")

            .hall__navigation
              .swiper-button-prev
                svg(xmlns="http://www.w3.org/2000/svg" width="34" height="60" viewBox="0 0 34 60" fill="none")
                  path(d="M1.17157 27.1716C-0.390523 28.7337 -0.390523 31.2663 1.17157 32.8284L26.6274 58.2843C28.1895 59.8464 30.7222 59.8464 32.2843 58.2843C33.8464 56.7222 33.8464 54.1895 32.2843 52.6274L9.65685 30L32.2843 7.37259C33.8464 5.81049 33.8464 3.27783 32.2843 1.71573C30.7222 0.153637 28.1895 0.153637 26.6274 1.71573L1.17157 27.1716ZM6 26H4V34H6L6 26Z" fill="#F45200")
              .swiper-pagination
              .swiper-button-next
                svg(xmlns="http://www.w3.org/2000/svg" width="35" height="60" viewBox="0 0 35 60" fill="none")
                  path(d="M32.8304 32.8284C34.3925 31.2663 34.3925 28.7337 32.8304 27.1716L7.37453 1.71574C5.81243 0.153645 3.27977 0.153646 1.71768 1.71574C0.155581 3.27784 0.155582 5.8105 1.71768 7.3726L24.3451 30L1.7177 52.6274C0.155599 54.1895 0.155599 56.7222 1.7177 58.2843C3.27979 59.8464 5.81245 59.8464 7.37455 58.2843L32.8304 32.8284ZM28.002 34L30.002 34L30.002 26L28.002 26L28.002 34Z" fill="#F45200")
          .hall__item-content
            .hall__item-head
              h2.hall__item-title ЗАЛ 1 - 177 m'2
              ul
                li Высокие потолки
                li Большие зеркала
                li Музыкальное оборудование
                li Коврики для фитнеса
                li Раздельные раздевалки и душ
                li Свободная парковка
            .hall__item-bottom
              p.hall__item-price 15€ / час
              button.hall__item-action
                span ЗАПИСАТЬСЯ
    include html/components/callback
    include html/components/card
  include html/static/footer