extends html/static/head
block variables
    - var title = 'Учителя и Стили'
    - var page = 'teachers-styles'
    - var subtitle = ''
    - var img = '/img/descriptors/index'
    - var lang = 'ru'
    - var classMain = 'main-teachers-styles'
    - var classBody = 'body-teachers-styles'

block content
  include html/static/header
  main(class=classMain)
    include html/components/hero-second
    include html/components/teachers-column
    include html/components/styles-column
    include html/components/callback
    include html/components/card
  include html/static/footer